@theme:#00d1b7;
@theme-btn:#00d1b7;
@theme-btn-click:#00ad99;
@theme-btn-font:#fff;
@theme-back:#00d1b7;
@gray4:#f9f9f9;
@gray3:#e1e1e1;
@gray2:#ececec;
@gray1:#a3a3a3;
@gray0:#464646;
@white-mask7:rgba(255, 255, 255, 0.7);
@black-mask1:#00000010;
@black-mask2:#00000020;
@black-mask3:#00000030;
@black-mask6:#00000060;
@black-mask7:#00000070;
@gray-line:#e1e1e1;

@shadow:10px 10px 20px 10px rgba(0, 0, 0, 0.14);
@shadow-btn:2px 2px 6px 0px rgba(0, 0, 0, 0.15);

.transform(@value){
    -webkit-transform: @value;
    -ms-transform: @value;
    transform: @value;
}

/*
    flex布局有关
*/
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-row-center{
    .flex-row;
    .flex-center;
}
.flex-col-center{
    .flex-col;
    .flex-center;
}
/*布局有关*/
/*内容居中 两边留白布局*/
.content-middle{
    height: 100%;
    width: 90%;
    max-width: 60rem;
    margin: auto;
}
/*头-身-脚布局*/
.header-body-footer{
    height: 100%;
    .flex-col;
    .body{
        flex: 1;
    }
}

//阴影
.shadow {
    box-shadow: @shadow-btn;
}

/*递归样式*/
/*最大宽度*/

.max-width(9);
    
.max-width(@n, @i: 1) when (@i =< @n) {
  .max-width-@{i} {
    max-width: @i*10rem !important;
  }
  .max-width(@n, (@i + 1));
}

/*进度条美化*/
// textarea:hover::-webkit-scrollbar:hover {
//     // width: 22px;
// }
::-webkit-scrollbar {
    width: 16px;
    height: 14px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
/*    border-radius: 999px;*/
    border: 7px solid transparent;
}

// ::-webkit-scrollbar-track {
//     // box-shadow: 1px 1px 0px 4px rgba(39, 39, 39,0.1) inset;
// }

::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px #e1e1e1 inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
}